* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
.item {
    font-family:"Open sans",sans-serif;
    color:#fff;
    line-height:1.6;
}
h1{
    text-align: center;
    font-family: "Oswald", sans; 
    font-size: 6rem;
    font-weight: normal;
    line-height: 5.5rem;
}
h2{
    font-size: 1.35rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.container {
    margin: 0 auto;
    width: 100%;
    Height: 100vh;
    display: flex;
    justify-content: center;  
    background: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
